@import "tailwindcss";

@theme {
  --color-massage-primary: #C27AD6; /* Lila */
  --color-massage-pale: #F9F2FB;    /* Sehr blasses Lila */
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}